Package: config-ovpn
Version: 0.1-1
Architecture: all
Maintainer: Ildar Gilyazev <i.gilyazev@gilyazev-devops.ru>
Installed-Size: 11359
Depends: easy-rsa, openvpn, golang-go, prometheus-node-exporter, iptables-persistent
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
