[Unit]
Description=Prometheus OpenVPN Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/openvpn/openvpn_exporter

[Install]
WantedBy=multi-user.target
