Source: config-ovpn
Section: unknown
Priority: optional
Maintainer: Ildar Gilyazev <i.gilyazev@gilyazev-devops.ru>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/config-ovpn
#Vcs-Git: https://salsa.debian.org/debian/config-ovpn.git
Rules-Requires-Root: no

Package: config-ovpn
Architecture: all
Depends: easy-rsa,openvpn,golang-go,prometheus-node-exporter,iptables-persistent
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
